[submodule "mem0"]
	path = mem0
	url = git@github.com:mem0ai/mem0.git
[submodule "letta"]
	path = letta
	url = git@github.com:letta-ai/letta.git
[submodule "graphiti"]
	path = graphiti
	url = https://github.com/getzep/graphiti.git
[submodule "continue"]
	path = continue
	url = https://github.com/continuedev/continue.git
[submodule "pi-mono"]
	path = pi-mono
	url = https://github.com/badlogic/pi-mono.git
[submodule "openclaw"]
	path = openclaw
	url = https://github.com/openclaw/openclaw.git
[submodule "gemini-cli"]
	path = gemini-cli
	url = https://github.com/google-gemini/gemini-cli.git
[submodule "claude-code-system-prompts"]
	path = claude-code-system-prompts
	url = git@github.com:Piebald-AI/claude-code-system-prompts.git
[submodule "codex-cli"]
	path = codex-cli
	url = https://github.com/openai/codex.git
[submodule "opencode"]
	path = opencode
	url = git@github.com:anomalyco/opencode.git
[submodule "memos"]
	path = memos
	url = git@github.com:MemTensor/MemOS.git
[submodule "hindsight"]
	path = hindsight
	url = git@github.com:vectorize-io/hindsight.git
[submodule "supermemory"]
	path = supermemory
	url = git@github.com:supermemoryai/supermemory.git
[submodule "mastra"]
	path = mastra
	url = git@github.com:mastra-ai/mastra.git
